.notifications-container {
  position: fixed;
  top: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 1000;
}

.notification {
  position: relative;
  padding: 15px 30px 15px 50px;
  border: 2px solid transparent;
  border-radius: 10px;
  display: flex;
  align-items: center;
  color: black;
  animation: fadeIn 0.5s, fadeOut 0.5s 3s forwards;
  background-color: white;
}

.notification img {
  position: absolute;
  left: 10px;
  top: 50%;
  width: 24px;
  height: 24px;
  transform: translateY(-50%);
}

.success {
  border-color: #4caf50;
}

.warning {
  border-color: #ffeb3b;
}

.error {
  border-color: #f44336;
}

.close-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  border: none;
  font-size: 20px;
  font-weight: bold;
  color: black;
  cursor: pointer;
  background: none;
}

@keyframes fadeIn {
  from {
      opacity: 0;
      transform: translateX(100%);
  }
  to {
      opacity: 1;
      transform: translateX(0);
  }
}

@keyframes fadeOut {
  from {
      opacity: 1;
      transform: translateX(0);
  }
  to {
      opacity: 0;
      transform: translateX(100%);
  }
}