body,
html {
  width: 100%;
  height: 100%;
  background-image: url('../public/background.jpeg');
  background-size: cover;
  background-position: center;
}

.main-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-content {
  width: 25%;
  height: 30%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4%;
  background-color: rgba(255, 255, 255, 0.9);
}

.main-content.solve-by-photo-mode {
  width: 87%;
  height: 85%;
  justify-content: center;
}

.solve-by-photo-btn {
  width: 50%;
  height: 20%;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  color: white;
  transition: all 0.3s ease;
  background-color: #45a049;
}

.solve-by-photo-btn:hover {
  transform: scale(1.05);
  background-color: #2C6F2F;
}

.solve-by-photo-btn:active {
  transform: scale(1);
}

.solve-by-photo-btn:disabled {
  cursor: not-allowed;
  box-shadow: none;
  background-color: #aaaaaa;
}

.page-container {
  width: 100%;
  height: 80%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightblue;
}

.central-element {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgreen;
}

.side-element {
  width: 10%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightcoral;
}

.image-grid {
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.image-grid .grid-area:nth-child(2) {
  border: 2px dashed yellow;
  border-radius: 10px;
}

.image-grid .grid-area:nth-child(2):hover {
  border-color: yellow;
  transform: scale(1.05);
  background-color: rgba(255, 255, 0, 0.9);
}

.image-grid .grid-area:nth-child(5) {
  border: 2px dashed green;
  border-radius: 10px;
}

.image-grid .grid-area:nth-child(5):hover {
  border-color: green;
  transform: scale(1.05);
  background-color: rgba(76, 175, 80, 0.9);
}

.image-grid .grid-area:nth-child(6) {
  border: 2px dashed orange;
  border-radius: 10px;
}

.image-grid .grid-area:nth-child(6):hover {
  border-color: orange;
  transform: scale(1.05);
  background-color: rgba(255, 165, 0, 0.9);
}

.image-grid .grid-area:nth-child(7) {
  border: 2px dashed blue;
  border-radius: 10px;
}

.image-grid .grid-area:nth-child(7):hover {
  border-color: blue;
  transform: scale(1.05);
  background-color: rgba(33, 150, 243, 0.9);
}

.image-grid .grid-area:nth-child(8) {
  border: 2px dashed red;
  border-radius: 10px;
}

.image-grid .grid-area:nth-child(8):hover {
  border-color: red;
  transform: scale(1.05);
  background-color: rgba(244, 67, 54, 0.9);
}

.image-grid .grid-area:nth-child(10) {
  border: 2px dashed white;
  border-radius: 10px;
}

.image-grid .grid-area:nth-child(10):hover {
  border-color: white;
  transform: scale(1.05);
  background-color: rgba(255, 255, 255, 0.9);
}

.grid-area {
  width: 150px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: rgba(217, 221, 220, 0.8);
}

.grid-area:hover {
  border-color: #45a049;
  transform: scale(1.05);
  background-color: rgba(76, 175, 80, 0.9);
}

.file-input {
  display: none;
}

.image-preview-container {
  position: relative;
  border-radius: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: rgba(255, 255, 255, 0.7);
}

.image-preview {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.image-preview:hover {
  transform: scale(1.05);
}

.image-preview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.remove-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 24px;
  height: 24px;
  border: none;
  border-radius: 50%;
  font-size: 14px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  opacity: 0.8;
  transition: opacity 0.2s;
  background-color: #ff4444;
}

.remove-btn:hover {
  opacity: 1;
}

.color-grid {
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.color-grid .grid-element:nth-child(2) {
  border: none;
}

.color-grid .grid-element:nth-child(2):hover {
  transform: scale(1.05);
}

.color-grid .grid-element:nth-child(5) {
  border: none;
}

.color-grid .grid-element:nth-child(5):hover {
  transform: scale(1.05);
}

.color-grid .grid-element:nth-child(6) {
  border: none;
}

.color-grid .grid-element:nth-child(6):hover {
  transform: scale(1.05);
}

.color-grid .grid-element:nth-child(7) {
  border: none;
}

.color-grid .grid-element:nth-child(7):hover {
  transform: scale(1.05);
}

.color-grid .grid-element:nth-child(8) {
  border: none;
}

.color-grid .grid-element:nth-child(8):hover {
  transform: scale(1.05);
}

.color-grid .grid-element:nth-child(10) {
  border: none;
}

.color-grid .grid-element:nth-child(10):hover {
  transform: scale(1.05);
}

.grid-element {
  display: grid;
  grid-template-columns: repeat(3, 50px);
  border: 1px solid black;
}

.element-cell {
  width: 50px;
  height: 50px;
  border: 1px solid black;
}

.element-cell:disabled{
  width: 50px;
  height: 50px;
}

.solution-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.solution-step {
  background: #f0f0f0;
  padding: 8px 12px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}


.back-btn {
  width: 100px;
  height: 40px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: #C70039;
}

.back-btn:hover {
  transform: scale(1.05);
  background-color: #a1002e;
}

.back-btn:active {
  transform: scale(1);
}

.next-btn {
  width: 100px;
  height: 40px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: #45a049;
}

.next-btn:hover {
  transform: scale(1.05);
  background-color: #2C6F2F;
}

.next-btn:active {
  transform: scale(1);
}

.next-btn:disabled {
  cursor: not-allowed;
  box-shadow: none;
  background-color: #aaaaaa;
}

.main-content.chaos-mode {
  width: 87%;
  height: 85%;
  justify-content: flex-start;
  gap: 2%;
}

.chaos-mode-btn {
  width: 50%;
  height: 20%;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  color: white;
  transition: all 0.3s ease;
  background-color: #e64a19;
}

.chaos-mode-btn:hover {
  transform: scale(1.05);
  background-color: #d32f2f;
}

.chaos-mode-btn:active {
  transform: scale(1);
}


@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .main-content {
    width: 100%;
    height: auto;
  }
}